$background-color: #1b1e30;
$background-color-light: #515A90;
$primary-color: #fddcbc;
$secondary-color: #44485a;
$text-color: white;
$light-grey: #525252;
$green: #63ff63;
$red: #ff0000;
$url-white: white; 
