@use 'Colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  background-color: Colors.$background-color;
}

.Page {
  font-family: 'Roboto', sans-serif;
  background-color: Colors.$background-color;
  min-height: 91vh;
  color: Colors.$text-color;
  margin-top: 60px;
}
.Dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  .dashboard-container{
    align-items: left;
  }
}
input[type="text"], input[type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid Colors.$secondary-color;
  color: Colors.$text-color;
}

button {
  margin:10px !important;
  background-color: Colors.$primary-color;
  padding: 10px;
  border: none;
  &.secondary {
    background-color: transparent;
    color: Colors.$text-color;

    &:hover {
      text-decoration: underline;
    }

    &:disabled {
      color: Colors.$subtle-color;
    }
  }
}

a {
  color: Colors.$url-white !important;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
    font-weight: bold;
    filter: brightness(0.85);
  }
}

.helper-text {
  color: Colors.$background-color;
}