@use 'Colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  background-color: Colors.$background-color;
}

.Page {
  font-family: 'Roboto', sans-serif;
  background-color: Colors.$background-color;
  min-height: 91vh;
  color: Colors.$text-color;
  margin-top: 60px;
}

input[type="text"], input[type="password"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid Colors.$secondary-color;
  color: Colors.$text-color;
}