
@use 'Colors';
#logoutNav {
    margin-top: 0vh !important; 
    display:flex;
    color: Colors.$secondary-color !important;
    height: 0px;
    
    & > .navbar-nav {
        justify-content: right;
    }
}

.logout{
    align-items: right;
    color: white;
    
    
}

.navElement1{
    color: white;
    display: flex;
    align-items: right;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10vh;
    margin-left: 155vh;
    text-align: right;
}


