@use 'Colors';

.SessionStats {
    .stats-container {
        padding: 20px;
        max-width: 75vh;
        margin: auto;
        margin-top: 50px;
    }
    .stats-card {
        padding: 20px;
        margin: 10px;
        background-color: Colors.$background-color-light;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

}