@use 'Colors';

#topNav {
    background-color: Colors.$primary-color !important;
    margin-top: 0vh !important; 
    color: Colors.$secondary-color !important;
}

#dropdown-right{
    background-color: transparent;
    color: Colors.$background-color;
    border-color: Colors.$secondary-color;
    margin-left: 4vh;
}

a.dropdown-item:hover{
    background-color: Colors.$primary-color;
    color: Colors.$secondary-color;
}

.dropdown-menu{
    padding: 0;
    background-color: Colors.$secondary-color;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: .25rem;
}

.navElement{
    margin-left: 2vh;
    margin-right: 2vh;
    text-align: center;
    color: Colors.$secondary-color;

}

.dropdown-item{
    background-color: Colors.$background-color;
    color: rgba(255,255,255,.5);
    text-align: left;
    padding-top:10px;
    padding-bottom:10px;
}

.dropdown-content{
    padding:5px
}